
a:link {
    color:aqua;
    text-decoration: none;
}
li:nth-child(odd) {
    color:rgb(223, 161, 171);
    font-weight: bold;
}
a:hover{
    color: red;
}

a:active{
    background-color:blue;
}
header {
    background-color: rgb(54, 77, 117);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px; 
    padding: 20px 40px;
}
aside {
    background-color:violet;
    border-top: 5px solid red;
    border-bottom: 5px solid yellow;
    padding: 20px 40px;
}
footer {
    background-color: rgb(157, 255, 0);
    padding: 20px 40px;
}
article p:last-child {
    color:rgb(175, 96, 158);
}
p::first-line {
    color:rgb(12, 11, 6)
}
h2 {
    position: relative;
}
article h2::after {
    content: "TOP";
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    right: -25px;
}
.post-img {
    width: 100%;
    height: auto 100%
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
button{
    position: fixed;
    right: 40px;
    bottom: 40px;
}
body {
    width:700px;
    margin:auto;
    text-align:left;
    margin-top:40px;
    font-family:Arial;
    border-top: 10px solid rgba(133, 6, 6, 0.932);
    position: relative;
}